doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href='/movieFinder.html') Movie Finder
          li
            a(href='/movies/getFavs') Favorite Movies
    block content
