body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.movie {
  text-align: center;
  width: 400px;
}

.movieposter {
  width: 200px;
}

.movieInfo {
  width: 700px;
  /* height: 800px; */
  border: 2px solid black;
  background-color: lightgoldenrodyellow;
  text-align: center;
  position: relative;
  float: left;
  left: 50px;
  top: 0px;
}

.movieName {
  font: bold 24pt Tahoma;
}

.movieList {
  font-weight: bold;
}
/* 
.addFav {
  float: left;
} */
